**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
backend.hcl
backend.ci.hcl
*.pem
*.key
*-key.json
ddb-key.json
.env
.env.*
.idea/
.vscode/
.DS_Store
